
@{
    ViewData["Title"] = "Meldung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var x = 0;}

<h2>Regatta:  @ViewBag.Regatta.Name</h2>
<table border="0">
    <tr>
        <td>
            <b>Von:</b>
        </td>
        <td>
            @ViewBag.Regatta.FromDate
        </td>
    </tr>
    <tr>
        <td>
            <b>Bis:</b>
        </td>
        <td>
            @ViewBag.Regatta.ToDate
        </td>
    </tr>
    <tr>
        <td>
            <b>Ausrichtender Verein:</b>
        </td>
        <td>
            @ViewBag.Regatta.Club.Name
        </td>
    </tr>
</table>
<br />
<h5><div align="right">Verein: @ViewBag.Club.Name</div></h5>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <a href="/Meldung/?guid=@ViewBag.Guid&sortby=Renncode">Renncode</a>
            </th>
            <th>
                @if (ViewBag.sortby == "Alter")
                {
                    <a href="/Meldung/?guid=@ViewBag.Guid&sortby=AlterDesc">Altersklasse</a>
                }
                else
                {
                    <a href="/Meldung/?guid=@ViewBag.Guid&sortby=Alter">Altersklasse</a>
                }
            </th>
            <th>
                <a href="/Meldung/?guid=@ViewBag.Guid&sortby=Bootsklasse">Bootsklasse</a>
            </th>
            <th>
                <a href="/Meldung/?guid=@ViewBag.Guid&sortby=Strecke">Streckenl&auml;nge</a>
            </th>
            <th>
                Gemeldete Boote
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reportedraces in ViewBag.ReportedRaces)
        {
            x = 0;

            @foreach (var repsb in ViewBag.ReportedStartboats)
            {
                if (repsb.ReportedRaceId == reportedraces.ReportedRaceId)
                {
                    x++;
                }
            }
            <tr>
                <td id="@reportedraces.ReportedRaceId">
                    @reportedraces.RaceCode
                    @if (reportedraces.Comment != "")
                    {
                        @:&nbsp;
                        @:<span class="badge badge-warning">@reportedraces.Comment</span>
                        @if (@reportedraces.Comment == "Bier Cup")
                        {
                            @:&nbsp;<img src="/images/beer-512.png" height="15" />
                        }
                        @if (@reportedraces.Comment == "Prosecco Cup")
                        {
                            @:&nbsp;<img src="/images/prosecco.png" height="15" />
                        }
                    }
                </td>
                <td>
                    @if (reportedraces.Gender.Equals("M"))
                    {
                        @if (reportedraces.Oldclass.FromAge >= 17 && reportedraces.Oldclass.ToAge <= 99)
                        {
                            @:Herren
                        }
                        else if (reportedraces.Oldclass.FromAge >= 15 && reportedraces.Oldclass.ToAge <= 16)
                        {
                            @:männliche
                        }
                    }
                    else if (string.Equals(reportedraces.Gender, "W"))
                    {
                        @if (reportedraces.Oldclass.FromAge >= 17 && reportedraces.Oldclass.ToAge <= 99)
                        {
                            @:Damen
                        }
                        else
                        {
                            @:weibliche
                        }
                    }
                    else if (string.Equals(reportedraces.Gender, "X"))
                    {
                        @:mixed
                    }
                    @reportedraces.Oldclass.Name
                </td>
                <td>
                    @reportedraces.Competition.Boatclasses.Name
                </td>
                <td>
                    @reportedraces.Competition.Raceclasses.Name
                </td>
                <td>
                    @if (x > 0)
                    {
                        @x
                    }
                </td>
                <td>
                    <a href="/Meldung/Details/@reportedraces.ReportedRaceId/?guid=@ViewBag.Guid" class="btn btn-secondary">Startboot melden</a>
                </td>
            </tr>
        }
    </tbody>
</table>