@model RegattaMeldung.Models.StartingFee

@{
    ViewData["Title"] = "Startgebühr löschen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Startgeb&uuml;hr l&ouml;schen</h2>

<h3>Bist du sicher?</h3>
<div>
    <h4>Startgeb&uuml;hr</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Boatclasses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Boatclasses.BoatclassId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromOldclassId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromOldclassId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToOldclassId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToOldclassId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StartingFeeId" />
        <input type="submit" value="L&ouml;schen" class="btn btn-danger" /> |
        <a asp-action="Index">Zur&uuml;ck</a>
    </form>
</div>
