@model IEnumerable<RegattaMeldung.Models.StartingFee>

@{
    ViewData["Title"] = "Startgebühren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Startgeb&uuml;hren</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boatclasses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromOldclassId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToOldclassId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Boatclasses.Name)
                </td>
                <td>
                    @foreach (var oc in ViewBag.oldclasses)
                    {
                        if (oc.OldclassId == item.FromOldclassId)
                        {
                            @:@oc.Name
                        }
                    }
                </td>
                <td>
                    @foreach (var oc in ViewBag.oldclasses)
                    {
                        if (oc.OldclassId == item.ToOldclassId)
                        {
                            @:@oc.Name
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.StartingFeeId">Bearbeiten</a> |                    
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.StartingFeeId">L&ouml;schen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
