@model IEnumerable<RegattaMeldung.Models.Regatta>

@{
    ViewData["Title"] = "Regattaübersicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var x = 0; }

<h2>Regattaübersicht</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Neue Regatta erstellen</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RegattaId" class="btn btn-secondary btn-sm">Bearbeiten</a> <br />
                    <a asp-action="Delete" asp-route-id="@item.RegattaId" class="btn btn-danger btn-sm">L&ouml;schen</a> <br />
                    <a asp-action="Index" asp-route-id="@item.RegattaId" class="btn btn-dark btn-sm">Filtern</a>
                </td>
                <td>
                    <a asp-action="Invite" asp-route-id="@item.RegattaId" class="btn btn-success btn-sm">Vereine einladen</a> <br />
                    <a asp-action="createReportedRaces" asp-route-id="@item.RegattaId" class="btn btn-secondary btn-sm">Rennliste generieren</a>                    
                </td>
            </tr>
        }
    </tbody>
</table>


<h4>Eingeladene Vereine</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Verein
            </th>
            <th>
                Regatta
            </th>
            <th>
                Anzahl Meldungen
            </th>
            <th>
                E-Mail
            </th>
            <th>
                Link
            </th>
            <th>
                Löschen
            </th>
        </tr>
    </thead>
    <tbody>        
        @foreach (var inv in ViewBag.Invited)
        {
            x = 0;
            <tr>
                <td>
                    @inv.Club.Name
                </td>
                <td>
                    @inv.Regatta.Name
                </td>
                <td>
                    @foreach(var sb in ViewBag.reportedstartboats)
                    {
                        if(sb.ClubId == inv.ClubId && sb.RegattaId == inv.RegattaId)
                        {
                            x++;
                        }
                    }
                    @x
                </td>
                <td>
                    <form asp-action="SendInvite">
                        <input type="hidden" name="ClubId" value="@inv.Club.ClubId"/>
                        <input type="hidden" name="RegattaId" value="@inv.Regatta.RegattaId"/>                        
                        @inv.Club.EMail<br/>
                        @if(@inv.Invited == false)
                        {
                            <input type="submit" value="Link senden" class="btn btn-info btn-sm"/> 
                        }
                        else
                        {
                            <input type="submit" value="Erneut senden" class="btn btn-success btn-sm"/> 
                        }
                    </form>
                </td>
                <td>
                    <a href="https://meldung.regattaplaner.net/Meldung/?guid=@inv.Guid">Meldelink</a><br/>
                    <input type="text" value="https://meldung.regattaplaner.net/Meldung/?guid=@inv.Guid"/>
                </td>
                <td>
                    <form asp-action="DeleteInvite">
                        <input type="hidden" name="ClubId" value="@inv.Club.ClubId"/>
                        <input type="hidden" name="RegattaId" value="@inv.Regatta.RegattaId"/>                                                
                        <input type="submit" value="Löschen" class="btn btn-danger"/> 
                    </form>
                </td>
            </tr>
        }        
    </tbody>
</table>
