@model IEnumerable<RegattaMeldung.Models.ReportedRace>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gemeldete Rennen</h2>

<p>
    <a asp-action="Create">Neues Rennen erstellen</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
        <div class="form-group">        
            <select name="rid" id="rid" class="form-control" asp-items="ViewBag.RegattaId"></select>    
            <br />
            <div class="form-group">
                <input type="submit" value="Anzeigen" class="btn btn-primary" />
            </div>
        </div>
    </form>
    </div>
</div>
    <br/><br/>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Renncode
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oldclass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Competition)
                </th>
                <th>
                    Gemeldete Rennen
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.ReportedRaceId">
                    <td>
                        <form asp-action="SetRaceCode">
                            <input type="submit" value="Speichern" class="btn btn-secondary btn-sm" />
                            <input type="hidden" name="id" value="@item.RegattaId"/>
                            <input type="hidden" name="rrid" value="@item.ReportedRaceId"/>
                            <input type="text" name="racecode" value="@item.RaceCode"/>                                                    
                            @if (item.Comment != "")
                            {
                                @:&nbsp;
                                @:<span class="badge badge-warning">@item.Comment</span>
                                @if (@item.Comment == "Bier Cup")
                                {
                                    @:&nbsp;<img src="/images/beer-512.png" height="15" />
                                }
                                @if (@item.Comment == "Prosecco Cup")
                                {
                                    @:&nbsp;<img src="/images/prosecco.png" height="15" />
                                }
                            }
                        </form>
                    </td>
                    <td>
                        @if (item.Gender.Equals("M"))
                        {
                            @if(item.Oldclass.FromAge >=17 && item.Oldclass.ToAge <= 99)
                            {
                                @:Herren
                            }
                            else if(item.Oldclass.FromAge >= 15 && item.Oldclass.ToAge <= 16)
                            {
                                @:männliche    
                            }              
                            @Html.DisplayFor(modelItem => item.Oldclass.Name)                                      
                        }
                        else if (string.Equals(item.Gender, "W"))
                        {                            
                            @if (item.Oldclass.FromAge >= 17 && item.Oldclass.ToAge <= 99)
                            {
                                @:Damen 
                                @Html.DisplayFor(modelItem => item.Oldclass.Name)
                            }
                            else if(item.Oldclass.FromAge >= 15 && item.Oldclass.ToAge <= 16)
                            {                                
                                @:weibliche
                                @Html.DisplayFor(modelItem => item.Oldclass.Name)
                            }
                            else
                            {
                                switch(item.Oldclass.Name)
                                {                                    
                                    case "Schüler C7":
                                        @:Schülerinnen C7
                                        break;
                                    case "Schüler C8":
                                        @:Schülerinnen C8
                                        break;
                                    case "Schüler C9":
                                        @:Schülerinnen C9
                                        break;
                                    case "Schüler C":
                                        @:Schülerinnen C
                                        break;
                                    case "Schüler B10":
                                        @:Schülerinnen B10
                                        break;
                                    case "Schüler B11":
                                        @:Schülerinnen B11
                                        break;
                                    case "Schüler B12":
                                        @:Schülerinnen B12
                                        break;
                                    case "Schüler B":
                                        @:Schülerinnen B
                                        break;
                                    case "Schüler C/B10":
                                        @:Schülerinnen C/B10
                                        break;
                                    case "Schüler A13":
                                        @:Schülerinnen A13
                                        break;
                                    case "Schüler A14":
                                        @:Schülerinnen A14
                                        break;
                                    case "Schüler A":
                                        @:Schülerinnen A
                                        break;
                                    default:
                                        @Html.DisplayFor(modelItem => item.Oldclass.Name)
                                        break;
                                }
                            }
                        }
                        else if (string.Equals(item.Gender, "X"))
                        {
                            @:mixed
                            @Html.DisplayFor(modelItem => item.Oldclass.Name)
                        }                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Competition.Name)
                    </td>
                    <td>
                        @{var x = 0;}
                        @foreach(var repsb in ViewBag.ReportedStartboats)
                        {
                            if(repsb.ReportedRaceId == item.ReportedRaceId)
                            {
                                x++;
                            }
                        }
                        @if(x > 0)
                        {
                            @x    
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ReportedRaceId" class="btn btn-secondary">Bearbeiten</a> |
                        <a asp-action="Details" asp-route-id="@item.ReportedRaceId" class="btn btn-secondary">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ReportedRaceId" class="btn btn-danger">L&ouml;schen</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>    