@model RegattaMeldung.Models.Oldclass

@{
    ViewData["Title"] = "Löschen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Altersklasse l&ouml;schen</h2>

<h3>Bist du sicher?</h3>
<div>
    <h4>Oldclass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromAge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToAge)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OldclassId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Zur&uuml;ck</a>
    </form>
</div>
