@model RegattaMeldung.Models.Oldclass

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Altersklasse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromAge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToAge)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OldclassId">Bearbeiten</a> |
    <a asp-action="Index">Zur&uuml;ck</a>
</div>
