@model RegattaMeldung.Models.Club

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RegattaMeldung</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />  
        <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />      
    </environment>
</head>
<body onload="hideClublist()">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">   
            <div class="navbar-header">         
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>            
                <a href="/Meldung/?guid=@ViewBag.Guid" class="navbar-brand">RegattaMeldung</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    @if(ViewBag.Guid != null)
                    {
                        <li class="nav-item"><a href="/Meldung/?guid=@ViewBag.Guid" class="nav-link">Meldung</a></li>
                        <li class="nav-item"><a href="/Stammdaten/?guid=@ViewBag.Guid" class="nav-link">Stammdaten</a></li>
                       // <li class="nav-item"><a href="https://programm.regattaplaner.net/" class="nav-link" target="_blank">Aktuelles Programm</a></li>
                        <li class="nav-item"><a href="/Meldung/RegattaInfos/?guid=@ViewBag.Guid" class="nav-link">Regatta Info</a></li>
                        <li class="nav-item"><a href="/Home/Help/?guid=@ViewBag.Guid" class="nav-link">Hilfe</a></li>
                    }                    
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <br/>

<h2>Stammdaten bearbeiten</h2>
<h5>Verein: @Model.Name</h5>

<hr/>

<h3>Sportler hinzufügen</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMember" asp-controller="Stammdaten" asp-route-id="@Model.ClubId">
            <input type="hidden" name="guid" value="@ViewBag.Guid" />
            <div class="form-group">
                <label>Vorname</label>
                <input class="form-control" type="text" name="FirstName" id="FirstName" />
            </div>
            <div class="form-group">
                <label>Nachname</label>
                <input class="form-control" type="text" name="LastName" id="LastName" />
            </div>
            <div class="form-group">
                <label>Geschlecht</label>
                <select class="form-control" name="Gender" id="Gender" size="2">
                    <option value="M" selected>männlich</option>
                    <option value="W">weiblich</option>
                </select>
            </div>
            <div class="form-group">
                <label>Geburtsjahr</label>
                <input class="form-control" type="number" name="Birthyear" id="Birthyear" value="@ViewBag.MemberYear" />
            </div>
            <div class="form-group">
                <input type="checkbox" name="isRented" id="isRented" value="true" onchange="if (this.checked == false) $('.selectpicker').selectpicker('hide'); if (this.checked == true) $('.selectpicker').selectpicker('show'); " />
                <label>Fremdverein im Programm anzeigen</label>
            </div>
            <div class="form-group" id="RentClub">                
                <select name="RentedToClubId" id="RentedToClubId" class="selectpicker form-control" asp-items="@ViewBag.RentedToClubId" data-live-search="true" data-size="10"><option selected>---Verein ausw&auml;hlen---</option></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Sportler hinzufügen" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>    
</div>
    <h3>Mitglieder</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @if (ViewBag.sortby == "Nachname")
                    {
                        <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=NachnameDesc">Nachname</a>
                    }
                    else
                    {
                        <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=Nachname">Nachname</a>
                    }
                </th>
                <th>
                    Vorname
                </th>
                <th>
                    <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=Geschlecht">Geschlecht</a>
                </th>
                <th>
                    @if (ViewBag.sortby == "Alter")
                    {
                        <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=AlterAsc">Geburtsjahr</a>
                    }
                    else
                    {
                        <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=Alter">Geburtsjahr</a>
                    }
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <td><input class="form-control" id="lastnameInput" onkeyup="searchList()" type="text" placeholder="Filter Nachname..."></td>
                <td><input class="form-control" id="firstnameInput" onkeyup="searchList()" type="text" placeholder="Filter Vorname..."></td>
                <td><input class="form-control" id="genderInput" onkeyup="searchList()" type="text" placeholder="Filter Geschlecht..."></td>
                <td><input class="form-control" id="birthyearInput" onkeyup="searchList()" type="text" placeholder="Filter Geburtsjahr..."></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var member in ViewBag.Members)
            {
                <tr>
                    <td>
                        @member.LastName
                        @if (member.isRented == true && member.RentedToClubId != Model.ClubId)
                        {
                            @:<br />
                            @foreach (var ac in ViewBag.AllClubs)
                            {
                                if (ac.ClubId == member.RentedToClubId)
                                {
                                    @:(@ac.Name)
                                }
                            }
                        }
                        @if (member.isRented == true && member.RentedToClubId == Model.ClubId)
                        {
                            @:<br />
                            @:(ausgeliehen)
                        }
                    </td>
                    <td>
                        @member.FirstName
                    </td>
                    <td>
                        @member.Gender
                    </td>
                    <td>
                        @member.Birthyear
                    </td>
                    <td>
                        <a href="/Stammdaten/DeleteMember/@member.MemberId/?guid=@ViewBag.Guid" class="btn btn-danger">L&ouml;schen</a>
                    </td>
                    <td>
                        <a href="/Stammdaten/EditMember/@member.MemberId/?guid=@ViewBag.Guid" class="btn btn-secondary">Bearbeiten</a>
                    </td>
                </tr>
    }
        </tbody>
    </table>


    <script>
        function hideClublist() {
            $('.selectpicker').selectpicker('hide');
        }

        function searchList() {
            // Declare variables
            var inputLN, inputFN, inputGender, inputBY, filterLN, filterFN, filterGender, filterBY, table, tr, tdLN, tdFN, tdGender, tdBY, i;
            inputLN = document.getElementById("lastnameInput");
            inputFN = document.getElementById("firstnameInput");
            inputGender = document.getElementById("genderInput");
            inputBY = document.getElementById("birthyearInput");
            filterLN = inputLN.value.toUpperCase();
            filterFN = inputFN.value.toUpperCase();
            filterGender = inputGender.value.toUpperCase();
            filterBY = inputBY.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {

                tdLN = tr[i].getElementsByTagName("td")[0];
                tdFN = tr[i].getElementsByTagName("td")[1];
                tdGender = tr[i].getElementsByTagName("td")[2];
                tdBY = tr[i].getElementsByTagName("td")[2];

                if (tdLN || tdFN || tdGender || tdBY) {
                    if ((tdLN.innerHTML.toUpperCase().indexOf(filterLN) > -1)
                        && (tdFN.innerHTML.toUpperCase().indexOf(filterFN) > -1)
                        && (tdGender.innerHTML.toUpperCase().indexOf(filterGender) > -1)
                        && (tdBY.innerHTML.toUpperCase().indexOf(filterBY) > -1)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <hr />
        <footer>
            <p>&copy; 2019 - Bj&ouml;rn Ohlrich</p>
            <p><a href="/Home/About/?guid=@ViewBag.Guid">Impressum</a> | <a href="/Home/GDPR/?guid=@ViewBag.Guid">Datenschutzerkl&auml;rung</a></p>            
        </footer>
    </div>

    <environment include="Development">
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap-select.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap-select.min.js" asp-append-version="true"></script>
    </environment>

    
</body>
</html>
