@model RegattaMeldung.Models.Club

@{
    ViewData["Title"] = "Stammdaten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stammdaten bearbeiten</h2>
<h5>Verein: @Model.Name</h5>

<hr/>

<h3>Sportler hinzufügen</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMember" asp-controller="Stammdaten" asp-route-id="@Model.ClubId">
            <input type="hidden" name="guid" value="@ViewBag.Guid" />
            <div class="form-group">
                <label>Vorname</label>
                <input class="form-control" type="text" name="FirstName" id="FirstName" />
            </div>
            <div class="form-group">
                <label>Nachname</label>
                <input class="form-control" type="text" name="LastName" id="LastName" />
            </div>
            <div class="form-group">
                <label>Geschlecht</label>
                <select class="form-control" name="Gender" id="Gender" size="2">
                    <option value="M" selected>männlich</option>
                    <option value="W">weiblich</option>
                </select>
            </div>
            <div class="form-group">
                <label>Geburtsjahr</label>
                <input class="form-control" type="number" name="Birthyear" id="Birthyear" value="@ViewBag.MemberYear" />
            </div>
            <div class="form-group">
                <input type="checkbox" name="isRented" id="isRented" value="true" onchange="document.getElementById('RentedToClubId').disabled = !this.checked;"/>                
                <label>Fremdverein im Programm anzeigen</label>
            </div>
            <div class="form-group" id="RentClub">                
                <select name="RentedToClubId" id="RentedToClubId" class="form-control" asp-items="@ViewBag.RentedToClubId" disabled><option selected>---Verein ausw&auml;hlen---</option></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Sportler hinzufügen" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>    
</div>
    <h3>Mitglieder</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @if (ViewBag.sortby == "Nachname")
                    {
                        <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=NachnameDesc">Nachname</a>
                    }
                    else
                    {
                        <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=Nachname">Nachname</a>
                    }
                </th>
                <th>
                    Vorname
                </th>
                <th>
                    <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=Geschlecht">Geschlecht</a>
                </th>
                <th>
                    @if (ViewBag.sortby == "Alter")
                    {
                        <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=AlterAsc">Geburtsjahr</a>
                    }
                    else
                    {
                        <a href="/Stammdaten/?guid=@ViewBag.Guid&sortby=Alter">Geburtsjahr</a>
                    }
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <td><input class="form-control" id="lastnameInput" onkeyup="searchList()" type="text" placeholder="Filter Nachname..."></td>
                <td><input class="form-control" id="firstnameInput" onkeyup="searchList()" type="text" placeholder="Filter Vorname..."></td>
                <td><input class="form-control" id="genderInput" onkeyup="searchList()" type="text" placeholder="Filter Geschlecht..."></td>
                <td><input class="form-control" id="birthyearInput" onkeyup="searchList()" type="text" placeholder="Filter Geburtsjahr..."></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var member in ViewBag.Members)
            {
                <tr>
                    <td>
                        @member.LastName
                        @if (member.isRented == true)
                        {
                            @:<br />
                            @foreach (var ac in ViewBag.AllClubs)
                            {
                                if (ac.ClubId == member.RentedToClubId)
                                {
                                    @:(@ac.Name)
                                }
                            }
                        }
                    </td>
                    <td>
                        @member.FirstName
                    </td>
                    <td>
                        @member.Gender
                    </td>
                    <td>
                        @member.Birthyear
                    </td>
                    <td>
                        <a href="/Stammdaten/DeleteMember/@member.MemberId/?guid=@ViewBag.Guid" class="btn btn-danger">L&ouml;schen</a>
                    </td>
                    <td>
                        <a href="/Stammdaten/EditMember/@member.MemberId/?guid=@ViewBag.Guid" class="btn btn-secondary">Bearbeiten</a>
                    </td>
                </tr>
    }
        </tbody>
    </table>


    <script>
        function hideClublist() {
            $('.selectpicker').selectpicker('hide');
        }

        function searchList() {
            // Declare variables
            var inputLN, inputFN, inputGender, inputBY, filterLN, filterFN, filterGender, filterBY, table, tr, tdLN, tdFN, tdGender, tdBY, i;
            inputLN = document.getElementById("lastnameInput");
            inputFN = document.getElementById("firstnameInput");
            inputGender = document.getElementById("genderInput");
            inputBY = document.getElementById("birthyearInput");
            filterLN = inputLN.value.toUpperCase();
            filterFN = inputFN.value.toUpperCase();
            filterGender = inputGender.value.toUpperCase();
            filterBY = inputBY.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {

                tdLN = tr[i].getElementsByTagName("td")[0];
                tdFN = tr[i].getElementsByTagName("td")[1];
                tdGender = tr[i].getElementsByTagName("td")[2];
                tdBY = tr[i].getElementsByTagName("td")[3];

                if (tdLN || tdFN || tdGender || tdBY) {
                    if ((tdLN.innerHTML.toUpperCase().indexOf(filterLN) > -1)
                        && (tdFN.innerHTML.toUpperCase().indexOf(filterFN) > -1)
                        && (tdGender.innerHTML.toUpperCase().indexOf(filterGender) > -1)
                        && (tdBY.innerHTML.toUpperCase().indexOf(filterBY) > -1)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
