@model IEnumerable<RegattaMeldung.Models.Regatta>

@{
    ViewData["Title"] = "Regatta Meldung";
}
<h4>Regatta Meldeprogramm des SKSV Mittweida e.V.</h4>
<div align="right">    
    <img src="images/sksv.png">
</div>
<br>
<h5>Folgende Regatten sind zur Meldung freigegeben:</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                Ausrichter
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>                    
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.Name)
                </td>
                <td>
                    <a asp-action="Subscribe" asp-route-id="@item.RegattaId" class="btn btn-primary">Teilnehmen</a>
                </td>
            </tr>
        }
    </tbody>
</table>

